.app-container {
    display: flex;
}

.weights-container {
    flex-grow: 1;
    flex-shrink: 0;
}

.best-item-display {
    display: flex;
    flex-wrap: wrap;

    height: 1px;
}

.itembox {
    margin: 5px;
    padding: 5px;
    background-color: #eee;
    display: flex;
    
    flex: 1 1 20%;
}

.itembox-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itembox .itembox-image {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

.itembox .itembox-options {
    flex-grow: 3;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
}

.resulting-characteristics {
    flex-grow: 1;
}

.weights-container {
    padding: 10px;
    width: 420px;
    max-width: 420px;
}

.app-weights {
    width: 100%;
}

.app-weights table {
    width: 100%;
}

.app-weights table th {
    text-align: left;
}

.weights-container .max-level {
    display: flex;
    align-items: baseline;
}

.weights-container .max-level input {
    width: 50px;
    margin-left: 20px;
}

button {
    background-color: #333;
    color: #eee;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;

    border: none;
}

button:hover {
    background-color: #444;
}

.optimise-button {
    margin: 10px;
    width: calc(100% - 20px);
}

.add-weight-button {
    margin-left: 10px;
}